/* enables change of one value here to apply to every element */
$red: #903;
$black: #444;
$white: #fff;
$main-font: Helvetica, Ariel, sans-serif;

body {
	font-family: $main-font;
}


h1 {
  color: $red;
  font: 32px/1 $main-font;
}

header h1 {
  font-size: 40px;
  line-height: 80px;
  background: transparent url(/logo.png) 0 0 no-repeat;
  padding-left: 84px;
}

/*creates a 'mixin', just like in a ruby module, this 'tabs' mixin makes an unordered list of links look like tabs*/
@mixin tabs ($background: blue, $color: yellow) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $background;
    overflow: hidden;
}

li {
    float: left;
  }

a{
text-decoration: none; display: block;
padding: 8px; background: $background; color: $color;
&:hover {
      background: darken($background, 20%);
    }
	} 
}

/* this 'nav' element is where the 'tab' mixin is used. Mixin format; set mixin: "@mixin name", use mixin: "@include name; */
nav {
  @include tabs ($background: $black, $color: $white);
  font-weight: bold;
}


p{
font: 13px/1.4 $main-font;
}